<div *ngIf="loading" class="loading">Loading work orders...</div>
<div *ngIf="error" class="error">{{ error }}</div>

<mat-accordion *ngIf="!loading && !error">
  <mat-expansion-panel *ngFor="let workOrder of workOrders">
    <mat-expansion-panel-header>
      <mat-panel-title>
        WorkOrder #{{ workOrder.internalNumber }} - {{ workOrder.taskName }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Task Description: {{ workOrder.taskDescription }}</p>
    <p>Due Date: {{ workOrder.dueDate }}</p>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Work Order Details</mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
          <li *ngFor="let detail of workOrder.workOrderDetails">
            Latitude: {{ detail.latitude }}, Longitude: {{ detail.longitude }}
          </li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>
</mat-accordion>
